body {
	background-color: white;
	text-align: center;
}

#opener {
  color: black;
  padding: 5% 5% 5% 5%;
  width: 50%;
}

#linkstosites {
	font-size: 20px;
}

#contactinfo {
	font-size: 10px;
}

a {
	text-decoration: none;
}
