html {
  height:auto;
  width: 100%;
  margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px
 border-collapse:collapse;
}

body {
  height:auto;
}

.main {
  height: auto;
 padding: 0;
 border-collapse:collapse;
 font-family: 'Roboto Condensed';
}

#featured_images {
  font-size: 2em;
  align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top:3%;
  padding-bottom: 7%;
  width: 100%;
  height: auto;
  overflow: hidden;
}

#menu_opener_comb {
    height: 80%;
    width: 100%;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ), url("./images/workstation.jpg") !important;
    background-repeat: no-repeat;
    background: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 2%;
}

a, a:hover, a:visited, a:link, a:active{
  text-decoration: none;
  color:inherit;
}

.socialmedia {
  width: 5%;
  height: auto;
  margin-right: 3%;
  display: inline-block;
  float: right;
}

#menu_bar {
  height: auto;
  padding-left: 2%;
  padding-top: 1%;
  margin-bottom: 1%;
  font-size: 1.5em;
}

#opener {
  height: auto;
  padding-top: 12%;
  padding-bottom: 10%;
  font-size: 1em;
  text-align: center;
}

#featured {
  height: auto;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

#footer {
  height: 10%;
  width: 100%;
  background-color: black;
}

.socialmediaimage {
  width: 100%;
  height: 100%;
}

.top_offset {
  margin-top: 3%;
}

#portfoliolinks {
	font-size:1.5em;
	text-align: center;
	align: center;
}

#featured_title {
  padding-top: 5%;
}



@media (max-width: 600px) {
  html {
    height: auto;
    width: auto;
    margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px
   border-collapse:collapse;
  }
  body {
    height:auto;
		width: auto;
  }

  #menu_bar {
    height:10%;
		width: 100%;
    padding-left: 2%;
    padding-top: 1%;
    margin-bottom: 1%;
    font-size: 1em;
  }

	#menu_opener_comb {
	    height: 30%;
	    width: 100%;
	    background-image: linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ), url("./images/workstation.jpg") !important;
	    background-repeat: no-repeat;
	    background: absolute;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    color:white;
	}

  .socialmedia {
    width: 10%;
    height: auto;
    margin-right: 3%;
    display: inline-block;
    float: right;
  }

  #portfoliolinks {
  	font-size:1em;
  	text-align: center;
  	align: center;
  }
}
*/
